body {
    height: 100%;

    margin: 0;

    font-family: "Spectral";
}

.grid-container {
	display: grid;
  	grid-template-rows: 100px 1fr;
  	grid-template-areas: 
    	"header"
    	"main";

    height: 100vh;

    background: transparent;
}

/* -------------------- HEADER -------------------- */

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------- MAIN -------------------- */

.main-container {
    grid-area: main;
    display: flex;
}

.bold-text {
    font-weight: 600;
}

/* ---------- LEFT SIDE ---------- */

.left-side {
    display: flex;
    flex: 1;
    justify-content: center;

    padding-top: 100px;
}

.subtitle {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

/* ---------- RIGHT SIDE ---------- */

.right-side {
    display: flex;
    flex: 1;
    justify-content: center;

    padding-top: 100px;
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a, a:visited {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/* poems */

.poem-header-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 20px 0;
}

.poem-body-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 50px;
    gap: 100px;
}

.poem-body {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

