/* index */

.header-container {
  /*border: 3px solid black;*/
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  /*border: 3px solid black;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
}

.subtitle {
  align-self: flex-start;
}

.contents {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a, a:visited {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

/* poems */

